@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.container {
  width: 500px;
  margin: 40px auto 0 auto;
}

.chat {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #dfe3ea;
  border: 1px solid #CCC;
  overflow: auto;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: #666;
}

.chat header {
  background-color: #EEE;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD));
  background: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
  background: linear-gradient(top, #EEEEEE, #DDDDDD);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #CCC;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  color: #999;
}

.chat input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0 10px;
  height: 30px;
  font-size: 18px;
  width: 100%;
  font-weight: normal;
  outline: none;
}

.chat .chat-toolbar {
  background-color: #FFF;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #CCC;
}

.chat .chat-toolbar label {
  text-transform: uppercase;
  line-height: 32px;
  font-size: 14px;
  color: #999;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.chat .chat-toolbar input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #FFF;
  padding-left: 100px;
  color: #999;}

.chat .chat-toolbar input:active, .chat .chat-toolbar input:focus {
  color: #1d9dff;
  border: 1px solid #FFF;}

.chat ul {
  list-style: none;
  margin: 0;
  padding: 20px;
  height: 200px;
  overflow: auto;
}

.chat ul li {
  margin-bottom: 10px;
  line-height: 24px;
}

.chat ul li:last-child {
  margin: 0;
}

.chat ul .chat-username {
  margin-right: 10px;
}

.chat footer {
  display: block;
  padding: 10px;
}

.chat footer input {
  border: 1px solid #ced3db;
  height: 40px;
}

.container .database-link {
  text-align: center;
}